.viaoda-libre-regular {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Viaoda Libre";
  letter-spacing: 0.4em;
  font-weight: 1000;
  font-size: 3em;
  text-align: center;
  margin: 0;
  margin: 0 0 0 0;
  padding-top: 1em;
  background-color: antiquewhite;
  padding-bottom: 0.5em;
}

dialog {
  position: absolute;
  top: 0vh;
  left: 0vh;
  border: 1px solid black;
  font-family: "Viaoda Libre";
}
dialog::backdrop {
  backdrop-filter: blur(10px);
}
input {
  display: block;
  font-size: large;
  font-family: "Viaoda Libre";
  margin: 1em;
}
input[type="checkbox"] {
  display: inline-block;
  width: 1em;
  height: 1em;
}
legend {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
#submitinfo {
  display: block;
  background-color: limegreen;
  color: white;
}
#cancelinfo {
  background-color: red;
  color: white;
}

.modalbutton {
  font-family: "Viaoda Libre";
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  padding: 0.4em 1.4em;
}

#container {
  margin: 0;
  width: 60vw;
  box-sizing: border-box;
  margin: 1em 0 0 1em;
  padding-bottom: 3em;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  justify-content: center;
  gap: 2em;
}

.bookcard {
  box-sizing: border-box;
  border: 1px solid none;
  background-color: white;
  border-radius: 8px;
}

#main {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  /* background-color: rgba(2,9,21,255); */
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
}

#addbook {
  padding: 1em 3em;
  font-size: medium;
  margin-bottom: 3em;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
}
#addbook:hover {
  cursor: pointer;
  background-color: rgb(255, 79, 79);
}

footer {
  background-color: antiquewhite;
  box-sizing: border-box;
  text-align: center;
  font-family: "Viaoda Libre";
  font-size: 1.5em;
  margin-block-end: 0;
  margin-block-start: 0;
  padding: 1px;
}
a {
  text-decoration: none;
  color: black;
}
